In [3]:
import pandas as pd

In [4]:
my_data = {'a': [1, 2, 3],
'b': ['apples', 'oranges', 'bananas']}
my_df = pd.DataFrame(my_data)
my_df.head()

   a        b
0  1   apples
1  2  oranges
2  3  bananas

In [5]:
my_df.tail(1)

   a        b
2  3  bananas

In [6]:
my_data2 = [{'a':1, 'b':'apple'},
{'a':2,'b': 'oranges'},
{'a':3, 'b': 'bananas'}]
my_df2 = pd.DataFrame(my_data2)
my_df2.head(1)

   a      b
0  1  apple

In [7]:
my_df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [8]:
my_df['b']

0     apples
1    oranges
2    bananas
Name: b, dtype: object

In [9]:
my_df.loc[0]

a         1
b    apples
Name: 0, dtype: object

In [10]:
my_df.iloc[0]

a         1
b    apples
Name: 0, dtype: object

In [11]:
my_df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
my_df.to_csv()

',a,b\n0,1,apples\n1,2,oranges\n2,3,bananas\n'

# 1. What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?

**Answer**: The write/render/evaluate lopp provides creaters with the a ability to see their work from different angles as their working. It allows allows creaters to make changed and anakyze them as they create code to constantly innovate what their working on. It gives creators the ability to apply their hypthesis and thoughts as they work towards the goal of the design their completing. 

# 2. Why are dynamic, interactive data visualizations useful when communicating data?

**Answer**: Dynamic, interactive data inspires curiosity to further their learning and understanding of the information presented. It is also important for making data more legible, giving them time to analyze it, for the range of people it may be utilized by. Interactive data visualizations highlights key points of data, can provide users with additional information, and creates a more peronlaizaed experience. 

# 3. Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.

I agree with Murray's claim that open-source tools are often the best choice for publishing data visualizations because the offer a wider audience access to innovation and tools. Open-source tools offer a wider range of flexibility in use and community involvement, which can lead to more customizable in visualizations. They work around barriers that larger and more expensive programs may have like cost. They make it easier to share and modify your work without being tied to proprietary software limitations. Figuring out which program works best for you may change depending on your project needs.